@page
@model ChinsayVegteables.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>VegeDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VegeDetails.Id" />
            <div class="form-group">
                <label asp-for="VegeDetails.Name" class="control-label"></label>
                <input asp-for="VegeDetails.Name" class="form-control" />
                <span asp-validation-for="VegeDetails.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VegeDetails.Price" class="control-label"></label>
                <input asp-for="VegeDetails.Price" class="form-control" />
                <span asp-validation-for="VegeDetails.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VegeDetails.Qty" class="control-label"></label>
                <input asp-for="VegeDetails.Qty" class="form-control" />
                <span asp-validation-for="VegeDetails.Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
